
// COLORS
$global-color:          #fff !global;
$transparent-color:     transparent !global;

$primary-color:         red !global;
$grey-base:             #333 !global;
$grey-light:            #ccc !global;
$grey-dark:             #000 !global;

// FONTS
// font sizes
$font-size-base:        16px !default;
$font-size-small:       12px !default;
$font-size-large:       24px !default;

// font-weights
$font-weight-bold:      700 !default;
$font-weight-light:     300 !default;

// line heights
$line-height-normal:    1 !default;
$line-height-computed:  1.44 !default;

$font-family-base:		Helvetica, Arial, sans-serif;

// units
$unit:                    15px !default;

// transitions
$transition-unit:           .125s !default;
$transition-timing:         ease-in-out !default;

$transition-duration-short:  $transition-unit;
$transition-duration-base:  $transition-unit * 2;
$transition-duration-long:  $transition-unit * 4;

$a-transition-base:       $transition-duration-base $transition-timing;
$a-transition-short:      $transition-duration-short $transition-timing;
$a-transition-long:       $transition-duration-long $transition-timing;


// navigation

$navigation-transition:   $a-transition-short;
$navigation-btn-color:    $primary-color;
