
// COLORS
$global-color:          #fff !global;
$transparent-color:     transparent !global;

$primary-color:         red !global;
$grey-base:             #333 !global;
$grey-light:            #ccc !global;
$grey-dark:             #000 !global;

// FONTS
// font sizes
$font-size-base:        16px !default;
$font-size-small:       12px !default;
$font-size-large:       24px !default;

// font-weights
$font-weight-bold:      700 !default;
$font-weight-light:     300 !default;

// line heights
$line-height-normal:    1 !default;
$line-height-computed:  1.44 !default;


$font-family-base:		Helvetica, Arial, sans-serif;